.table-wrap.latest-block-table {
    width: 50%;
    margin: 0 7.5px;
    padding: 26px 20px 20px;
    box-shadow: none;
    background-color: rgba(88, 86, 102, 0.2);
  
    @media screen and (max-width: 1200px) {
      width: 100%;
      margin-bottom: 15px;
    }
  
    @media screen and (max-width: 480px) {
      width: calc(100% - 15px);
      padding: 15px 10px;
      margin-bottom: 12px;
    }
  
    .title {
      font-size: 14px;
      color: #fff;
      border-bottom: none;
      padding: 0 20px 0 20px;
  
      @media screen and (max-width: 480px) {
        padding: 0 10px 0 10px;
        margin: 0 -10px 15px;
        font-size: 12px;
      }
    }
  
    table {
      display: block;
      height: 450px;
      margin-top: 17px;
  
      @media screen and (max-width: 480px) {
        height: 310px;
        margin-top: 14px;
      }
  
      &.loading {
        tbody {
          tr {
            &.loading {
              display: block !important;
        
              td {
                display: flex;
                align-items: center;
                width: 100% !important;
              }
            }
          }
        }
      }
    
      &.not-found {
        tbody {
          tr {
            &.not-found {
              display: block !important;
        
              td {
                display: flex;
                align-items: center;
                width: 100% !important;
              }
            }
          }
        }
      }
    
      &.lastest-top {
        tbody {
          flex-direction: column;
        }
      }
    
      &.lastest-bottom {
        tbody {
          flex-direction: column-reverse;
        }
      }
    
      th {
        font-weight: normal;
        border-bottom: 1px solid rgba(76, 68, 82, 0.8);
  
        @media screen and (max-width: 480px) {
          height: 28px;
          font-size: 10px;
        }

        &:nth-child(1),
        &:nth-child(2) {
          @media screen and (max-width: 480px) {
            min-width: 55px;
          }
        }

        &:nth-child(4) {
          @media screen and (max-width: 480px) {
            text-align: center;
          }
  
          > div {
            @media screen and (max-width: 480px) {
              justify-content: center;
            }
          }
        }

        &:nth-child(5) {
          text-align: right;
  
          > div {
            justify-content: end;
          }
        }

        > div {
          justify-content: start;
        }
      }
  
      td {
        color: #e3dee7;
        border-bottom: 1px solid rgba(76, 68, 82, 0.8);
  
        @media screen and (max-width: 480px) {
          height: 28px;
          font-size: 10px;
        }

        &.txt-ellipsis {
          @media screen and (max-width: 780px) {
            max-width: 15vw;
          }
  
          @media screen and (max-width: 480px) {
            max-width: 15vw;
          }
        }

        &:nth-child(2) {
          color: #908091;
        }
  
        &:nth-child(3) {
          width: 60px;
        }
  
        &:nth-child(5) {
          text-align: right;
  
          > div {
            justify-content: end;
          }
        }
  
        .identicon {
          display: inline-block;
          width: 18px;
          height: 18px;
          flex: 18px 0 0;
          margin-right: 8px;
          vertical-align: middle;
        }
      }

      thead {
        display: block;
    
        tr {
          display: block;
          border-bottom: 1px solid rgba(76, 68, 82, 0.8);
    
          th {
            display: inline-block;
            border-bottom: none;
            white-space: normal;

            &:nth-child(1) {
              width: 20% !important;
    
              @media screen and (max-width: 480px) {
                width: 19% !important;
              }
            }
    
            &:nth-child(2) {
              width: 19% !important;
            }
    
            &:nth-child(3) {
              width: 10% !important;
            }
    
            &:nth-child(4) {
              width: 24% !important;
            }
    
            &:nth-child(5) {
              width: 24% !important;
            }
          }
        }
      }

      tbody {
        display: flex;
        flex-direction: column;
        max-height: 380px;
        overflow-y: scroll;
        margin-right: -8px;
    
        @media screen and (max-width: 480px) {
          max-height: 280px;
        }
    
        &:hover {
          &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: rgba(167, 167, 167, .2);
          }
        }
    
        &::-webkit-scrollbar {
          width: 8px;
        }
    
        tr {
          flex: 1 0 auto;
          display: block;
          height: 38px;
          border-bottom: 1px solid rgba(76, 68, 82, 0.8);
    
          @media screen and (max-width: 480px) {
            height: 28px;
          }
    
          &.expand {
            animation: insert-height .3s, insert-bg 1s;
    
            @media screen and (max-width: 480px) {
              animation: insert-height-m .3s, insert-bg 1s;
            }
          }
    
          td {
            display: inline-block;
            max-width: inherit !important;
            border-bottom: none;
            white-space: normal;

            &:nth-child(1) {
              width: 20% !important;
    
              @media screen and (max-width: 480px) {
                width: 19% !important;
              }
            }
    
            &:nth-child(2) {
              width: 19% !important;
            }
    
            &:nth-child(3) {
              width: 10% !important;
            }
    
            &:nth-child(4) {
              width: 24% !important;
            }
    
            &:nth-child(5) {
              width: 24% !important;
            }
    
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .btn-wrap {
      margin-top: 20px;
      text-align: center;
  
      @media screen and (max-width: 480px) {
        margin-top: 15px;
      }
  
      button {
        width: 200px;
        height: 44px;
        border-radius: 25px;
        border: none;
        font-size: 13px;
        color: #e3dee7;
        background-color: rgba(88, 86, 102, 0.5);
  
        @media screen and (max-width: 480px) {
          width: 120px;
          height: 30px;
          font-size: 11px;
        }
  
        &:hover {
          background-color: #585666;
        }
      }
    }
  }
  