.tabs {
  .tabs-contents {
    .tab-content {
      &.json {
        .content {
          background: transparent;
          white-space: pre-wrap;
          word-break: break-all;
          line-height: 1.5;
        }
      }

      .content {
        padding: 20px 20px 30px;

        h2 {
          margin: 0 0 20px 0;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
        }

        p {
          margin: 0;
          font-size: 14px;
          word-break: break-all;
        }
      }

      .table-wrap {
        padding: 5px 20px 25px;
        margin: 0;
        background-color: transparent;

        table.result-events {
          border-collapse: separate;
          border-spacing: 0 20px;

          th {
            height: auto;
            padding-bottom: 5px;
            color: #fff;
            border-bottom: 1px solid #443f51;
          }

          td {
            height: auto;
            color: #fff;
            border-bottom: none;
          }
        }
      }
    }
  }
}